# Unity generated folders
Bowl/Library/
Bowl/Temp/
Bowl/Obj/
Bowl/Build/
Bowl/Builds/
Bowl/Logs/

# Large Unity Burst runtime binaries (from PackageCache)
Bowl/Library/PackageCache/com.unity.burst/.Runtime/burst-llvm-16.dll
Bowl/Library/PackageCache/com.unity.burst/.Runtime/hostmac/dsymutil
Bowl/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-10.dylib
Bowl/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.so
Bowl/Library/PackageCache/com.unity.burst/.Runtime/burst-llvm-16-arm64.dll
Bowl/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.dylib

# iOS / build outputs
Bowl/iOS-Build/
Bowl/iOS-Build/Libraries/libiPhone-lib.a
